.TextInput .Input {
  border: none;
  border-radius: 6px;
  outline: none;
  padding: 0.5em 1em;
}
.TextInput .Submit {
  background-color: lightblue;
  border: none;
  border-radius: 6px;
  margin: 0 0.5em;
  outline: none;
  padding: 0.5em 1em;
}
