.Typing {
  background-color: fade(#efefef, 40%);
  color: fade(#000, 75%);
  display: table;
  text-align: left;
  width: auto;
  margin: 0.25em 0;
  padding: 1.5em 1em;
}

.Typing span {
  height: 0.5em;
  width: 0.5em;
  float: left;
  margin: 0 2px;
  background-color: #9E9EA1;
  display: block;
  border-radius: 50%;
  opacity: 0.4;
}

.Typing span:nth-of-type(1) {
  -webkit-animation: 1s blink infinite 0.3333s;
  animation: 1s blink infinite 0.3333s;
}

.Typing span:nth-of-type(2) {
  -webkit-animation: 1s blink infinite 0.6666s;
  animation: 1s blink infinite 0.6666s;
}

.Typing span:nth-of-type(3) {
  -webkit-animation: 1s blink infinite 0.9999s;
  animation: 1s blink infinite 0.9999s;
}

@-webkit-keyframes blink {
  50% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}
