.Demo {
  .I-ChatBot {
    background-color: ghostwhite;
    height: 20em;

    .Actions {
      padding: 1em 0;

      button {
        background-color: lightgrey;
        border: none;
        border-radius: 6px;
        outline: none;
        padding: 0.5em 1em;
      }
    }
  }
}
